body {
  margin: 0;
  min-height: 100%;
}
header {
	background-color: #566A9B;
  color: #fff;
  padding: 15px;
}
footer {
  background-color: #38486E;
  color: #fff;
  width: 100%;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;   
}
#page-heading {
  margin: 0;
	font-size: 25px;
  font-weight: bold;
}
#main-container {
  height: 90%;
  margin-top: 40px;
}
#signup-heading {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}
#signup-container {
	width: 430px;
  height: 550px;
  margin: 0 auto;
  padding: 10px 10px 30px;
  background-color: #BABAC0;
  border-radius: 3px;
}
#signup-container::after {
 	content: "";
  display: block;
  height: 50px;
}
.row {
  display: block;
  height: 90px;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
.label-field {
  clear: left;
}
.input-field {
  width: 85%;
}
#signup {
  background-color: #38486E;
  border: 1px solid #38486E;
  border-radius: 5px;
  color: white;
  width: 100%;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
}
#signup-form {
  width: 80%;
  margin: 0 auto;
}
#footer-content {
  margin: 0;
  font-size: 17px;
}